{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Funcionários{% endblock %}</h1>
{% endblock %}

{% block content %}
<table>
  <tr>
    <th>NumMec</th>
    <th>Nome</th>
    <th>Função</th>
    <th>Email</th>
  </tr>

  {% for funcionario in funcionarios %}
  <tr>
  <td><a href="/funcionarios/{{ funcionario.NumMec}}">{{ funcionario.NumMec }}</a></td>
    
  <td> {{funcionario.Nome}} </td>
  <td> {{funcionario.TrabFaz}} </td>
  <td> {{funcionario.Email}} </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
